<p>The fruit is: @FirstFruit</p>
<p>The fruit 2 is: @SecondFruit</p>

<button @onclick="ChangeFruit">Change Fruit</button>

@code {
    [CascadingParameter(Name = "FirstFruit")]
    private string? FirstFruit { get; set; }

    [CascadingParameter(Name = "SecondFruit")]
    private string? SecondFruit { get; set; }

    private void ChangeFruit()
    {
        FirstFruit = "Pineapple";
    }

}