/* /Layout/Footers/StickyFooter.razor.rz.scp.css */
.td-footer[b-gh75424kph] {
    /*height: var(--footer-fixed-height);*/
    box-shadow: 0px 1px 0px lightgray inset;
}
/* /Layout/Headers/RdznMenuIcon.razor.rz.scp.css */
.drop-down-panel[b-0gor0z7pg9] {
    /*display: none;*/
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 666;
    margin-top: var(--headerHeight);
}
/* /Layout/StickyLayout.razor.rz.scp.css */
.header-sticky[b-ualc49u5kx] {
    position: sticky;
    top: 0;
    z-index: 999;
}

.main-sticky[b-ualc49u5kx] {
    min-height: calc(100vh - var(--heightHeaderFooter));
    background-color: var(--rz-body-background-color);
}

/*.footer-sticky {
    
}*/
/* /Pages/Apito/RdznGrdHdrTmpt.razor.rz.scp.css */
.drop-down-panel[b-1l2jm1oo7y] {
    width: 266px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}
/* /Pages/Learn/Upload/InputFiles.razor.rz.scp.css */
 .file-uploader[b-e0jcobmx42] {
     position: relative;
     display: inline-block;
 } 

.custom-button[b-e0jcobmx42] {
    display: inline-block;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .custom-button:hover[b-e0jcobmx42] {
        background-color: #007bff;
        color: #fff;
    }
/* /Pages/Radzens/RdznIcons.razor.rz.scp.css */
div[b-crbuulohr1] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 120px;
}
