/* /Layout/DisplayGridLayout.razor.rz.scp.css */
.body-display-grid[b-ct98eqgc35] {
    /*height: var(--windowHeight);*/
    height: 100vh;
    /*height: 100%;*/

    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
}

.header-display-grid[b-ct98eqgc35] {
    grid-area: header;
}

.main-display-grid[b-ct98eqgc35] {
    grid-area: content;
}

.footer-display-grid[b-ct98eqgc35] {
    grid-area: footer;
}
/* /Layout/Footers/DefaultFooter.razor.rz.scp.css */
.td-footer[b-mwyqx8vsbv] {
    height: var(--footer-fixed-height);
    box-shadow: 0px 1px 0px lightgray inset;
}
/* /Layout/TableBased/TableBody.razor.rz.scp.css */
table[b-ogq1gc7yuh] {
    width: 100%;
    height: var(--windowHeight);
    /* height: 100vh; */
    /* border-spacing: 0px; */
    /* margin: 0; */
}

td[b-ogq1gc7yuh], th[b-ogq1gc7yuh] {
    padding: 0px;
}

th[b-ogq1gc7yuh] {
    height: var(--header-fixed-height);
}

.td-body[b-ogq1gc7yuh] {
    vertical-align: top;
    text-align: left;
}

.td-footer[b-ogq1gc7yuh] {
    height: var(--footer-fixed-height);
    box-shadow: 0px 1px 0px lightgray inset;
}
/* /Pages/Learn/Upload/InputFiles.razor.rz.scp.css */
 .file-uploader[b-e0jcobmx42] {
     position: relative;
     display: inline-block;
 } 

.custom-button[b-e0jcobmx42] {
    display: inline-block;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .custom-button:hover[b-e0jcobmx42] {
        background-color: #007bff;
        color: #fff;
    }
/* /Pages/Radzens/RadzenIcons.razor.rz.scp.css */
div[b-u3rfco36y6] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 120px;
}
