@page "/options"

@using BlazorRadzenMls.Components

<h3>Site options</h3>

<div style="margin-bottom: 10px;">
    <RadzenThemes />
</div>

<div style="margin-bottom: 10px;">
    <LanguageSelector />
</div>

<div style="margin-bottom: 10px;">
    <RefreshLink />
</div>


@code {

}