@attribute [Route(AppValues.PageOptions)]

@using BlazorRadzenMls.Models

<PageTitle>@AppValues.PageOptions</PageTitle>

<div class="rz-p-4">
    <RadzenText Text="@__ml["Site_options"]" TextStyle="TextStyle.H4" class="rz-color-primary" />

    <RadzenCard class="rz-background-color-base-300 rz-my-3 rz-shadow-4">
        <RefreshVersion />
    </RadzenCard>

    @* <RadzenCard class="rz-background-color-base-300 rz-mb-3 rz-shadow-4">
        <LanguageSelector />
    </RadzenCard> *@

    @* <RadzenCard class="rz-background-color-base-300 rz-mb-3 rz-shadow-4">
        <RadzenThemes />
    </RadzenCard> *@

    <RadzenCard class="rz-background-color-base-300 rz-mb-3 rz-shadow-4">
        <MenusOptions />
    </RadzenCard>
</div>

@code {

    protected override void OnInitialized()
    {
        __state.RefreshEvent += delegate { StateHasChanged(); }; //Refresh_Event;
    }
    //private void Refresh_Event(object? sender, EventArgs e) { StateHasChanged(); }

}