
<div style="display: flex; height: 100%; background-color: var(--rz-body-background-color);">
    <div style="@SidebarWidth">
        <SideMenu Height100=true />
    </div>
    <div style="flex: 1;">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string? SidebarWidth => (__state.SiteOptions.Menu.SidebarExpanded) ?
        __state.SiteOptions.Menu.SidebarWidth : "width: 0;";

}