.body-display-grid {
    /*height: var(--windowHeight);*/
    height: 100vh;
    /*height: 100%;*/

    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
}

.header-display-grid {
    grid-area: header;
}

.main-display-grid {
    grid-area: content;
}

.footer-display-grid {
    grid-area: footer;
}
