@inherits LayoutComponentBase

@* this is required for: Dialog, Notification, ContextMenu and Tooltip *@
<RadzenComponents />

<div class="body-display-grid" @onclick="HideMenuPanel">

    <div class="header-display-grid">
        <BlazorRadzenMls.Layout.Headers.LeftRight />
    </div>

    <div class="main-display-grid">
        <BlazorRadzenMls.Layout.Bodies.HideLeftContent>
            @Body
        </BlazorRadzenMls.Layout.Bodies.HideLeftContent>
    </div>

    <div class="footer-display-grid">
        <BlazorRadzenMls.Layout.Footers.DefaultFooter />
    </div>

</div>

@code {

    private async Task HideMenuPanel()
    {
        try { await __js.InvokeVoidAsync("hideMenuPanel", "", "drop-down-panel"); }
        catch { Console.WriteLine("js error: DisplayGridLayout.razor -> HideMenuPanel"); }
    }

    protected override void OnInitialized()
    {
        __state.RefreshEvent += delegate { StateHasChanged(); }; //Refresh_Event;
    }
    //private void Refresh_Event(object? sender, EventArgs e) { StateHasChanged(); }

}