@inherits LayoutComponentBase

@* this is required for: Dialog, Notification, ContextMenu and Tooltip *@
<RadzenComponents />

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle id="@menuToggleId" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                
                <TopBar />

        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" Style="@__state.SiteOptions.Menu.SidebarWidth">
        <SideMenu />
    </RadzenSidebar>
    <RadzenBody id="myRadzenBody">
        @* <div class="rz-p-4"> *@
            @Body
        @* </div> *@
    </RadzenBody>
</RadzenLayout>

@code {
    //https://www.free-css.com/
    private bool sidebarExpanded = true;

    private string menuToggleId = "menuToggle";

    protected override void OnInitialized()
    {

        __state.RefreshEvent += delegate { StateHasChanged(); }; //Refresh_Event;
    }
    //private void Refresh_Event(object? sender, EventArgs e) { StateHasChanged(); }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try { await __js.InvokeVoidAsync("changeSidebarToggleStyle", menuToggleId, "33px"); }
            catch { Console.WriteLine("js method error"); }
        }
    }

}