@using BlazorRadzenMls.Layout.RdznProfileMenus
@using BlazorRadzenMls.Models

<div class="rz-header" style="display: flex;">
    <div style="flex: 1;">
        
    </div>
    <div>
        <RdznMenuLanguage />

        <RdznMenuThemes />

        <RdznMenuShopping />

        <RdznMenuUser />
    </div>
</div>

@code {

}