@using BlazorRadzenMls.Layout.RdznProfileMenus
@using BlazorRadzenMls.Models

<div class="rz-header" style="display: flex;">
    <div style="flex: 1;">
        <RdznMenuIcon Name="build" NavigateTo="@AppValues.PageOptions" Size="29" />
        @* <RdznMenuIcon>
            <RdznMenuPanel />
        </RdznMenuIcon>

        <RdznMenuIcon Name="build" ExpectRefresh="true" Size="30">
            <RdznMenuOptions />
        </RdznMenuIcon>

        <RdznMenuIcon Name="home" NavigateTo="" Size="29" />
        <RdznMenuIcon Name="build" NavigateTo="@AppValues.PageOptions" Size="29" />
        <RdznMenuIcon Name="description" NavigateTo="@AppValues.GitHubMy" OnNewTab="true" Size="29" /> *@

    </div>
    <div>
        <RdznMenuLanguage />

        <RdznMenuThemes />

        <RdznMenuShopping />

        <RdznMenuProfile />
    </div>
</div>

@code {

}