@using BlazorRadzenMls.Models

@* background-color: var(--rz-panel-menu-background-color); *@
<div class="rz-header" style="display: flex;">
    <div style="flex: 1;">

        <RdznMenuIcon>
            <SideMenu />
        </RdznMenuIcon>

        <RdznMenuIcon Icon="home" NavigateTo="" />

        <RdznMenuIcon Icon="build" NavigateTo="@AppValues.PageOptions" />

        <RdznMenuIcon Icon="description" NavigateTo="@AppValues.GitHubMy" OnNewTab="true" />

    </div>
    <div>
        <BlazorRadzenMls.Auth.MenuGravatar />
    </div>
</div>

@code {

    // private void SidebarExpand()
    // {
    //     __state.SiteOptions.Menu.SidebarExpanded = !__state.SiteOptions.Menu.SidebarExpanded;
    //     __state.RefreshPage("LeftRight.razor -> SidebarExpand");
    // }

}