@using BlazorRadzenMls.Models

@* background-color: var(--rz-panel-menu-background-color); *@
<div id="@AppValues.HtmlIdHeader" class="rz-header" style="display: flex;">
    <div style="flex: 1;">

        <RdznMenuIcon>
            <RdznMenuPanel PanelMenuStyle="@AppValues.RdznPanelMenuStyle" />
        </RdznMenuIcon>

        <RdznMenuIcon Name="home" NavigateTo="" Size="29" />
        <RdznMenuIcon Name="build" NavigateTo="@AppValues.PageOptions" Size="29" />
        <RdznMenuIcon Name="description" NavigateTo="@AppValues.GitHubMy" OnNewTab="true" Size="29" />

    </div>
    <div>
        <RdznMenuProfile />
    </div>
</div>

@code {

    // private void SidebarExpand()
    // {
    //     __state.SiteOptions.Menu.SidebarExpanded = !__state.SiteOptions.Menu.SidebarExpanded;
    //     __state.RefreshPage("LeftRight.razor -> SidebarExpand");
    // }

}