@page "/color"

<div class="rz-p-4">
<RadzenRow>
    <RadzenColumn>
        <RadzenText TextStyle="TextStyle.H4" Style=@style>Choose T-Shirt color</RadzenText>
        <RadzenColorPicker @bind-Value=@color ShowHSV=true ShowRGBA=true ShowColors=true ShowButton=false Change="OnChange" />
    </RadzenColumn>
</RadzenRow>
</div>

@code {

    private string color { get; set; } = "rgb(255, 40, 0)";
    private string? style { get; set; }

    private void OnChange(string value)
    {
        style = "color: " + color;
        Console.WriteLine($"Value changed to: {value}");
    }

    protected override void OnInitialized()
    {
        style = "color: " + color;
    }

}