@import url('universalRadzen.css');

div.myRadzenToggleButton {
    display: inline-block;
    margin-right: -3px;
    margin-bottom: 1px;
}

.my-rz-body {
    padding: 0;
}

.rz-dialog-confirm-message {
    color: var(--rz-primary);
}
