@using BlazorRadzenMls.Models

<div id="@htmlIdFooter" class="rz-panel-menu main-footer">
    <div class="lbl-footer">
        <RadzenLabel Text="@text" class="rz-color-success-dark" />
    </div>
</div>

@code {

    private const string htmlIdFooter = "footerStickyLayout";

    private static string text = "© Copyright 2023-" + DateTime.Now.Year.ToString() + " site powered by МинцЪт";

    //   ©   &copy;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await __js.AddFooterHeight(htmlIdFooter, this, "OnAfterRenderAsync");
        }
    }

}