@page "/errorboundaries"

<h3>Error Boundaries</h3>

<ErrorBoundary>
    <ChildContent>
        @foreach (var a in ForceError)
        {
            <b>content</b>
        }
    </ChildContent>
    <ErrorContent>
        ErrorBoundary works
    </ErrorContent>
</ErrorBoundary>

@code {

    private List<string> ForceError;// { get; set; }

}