@inherits LayoutComponentBase

@* this is required for: Dialog, Notification, ContextMenu and Tooltip *@
<RadzenComponents />

<div class="header-fixed">
    header
</div>
<div class="content-fix">
    @Body
</div>
<div class="footer-fixed">
    &copy; 2024
</div>

@code {

}

<style>
    html, body, #app {
        height: 100%;
        /* min-height: 100vh; */
    }

    .header-fixed, .footer-fixed {
        background-color: #333;
        color: #fff;
        position: fixed;
        width: 100%;
        height: 50px;
    }

    .footer-fixed {
        bottom: 0;
        height: 22px;
    }

    .content-fix {
        height: 100%;
        padding-top: 50px;
    }
</style>