@* @page "/route/{text?}" *@
@page "/route/{id:int}"

<PageTitle>Route Parameter 1</PageTitle>

<h1>Route Parameter Example 1</h1>

@* <p>Blazor is @Text!</p> *@
<p>Blazor is @Id!</p>

@code {

    [Parameter]
    //public string? Text { get; set; }
    public int Id { get; set; }


}