@inherits LayoutComponentBase

@* this is required for: Dialog, Notification, ContextMenu and Tooltip *@
<RadzenComponents />

<div class="header-fixed">

    @* <NavLink class="nav-link" href="" style="display: inline-block;">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Home
    </NavLink>
    header *@

    <RadzenSidebarToggle Style="margin-right: 0px;" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
    
    <FixedHeader />

</div>

<div>
    <div class="header-blank"></div>
    @Body
    <div class="footer-blank"></div>
</div>

<div class="footer-fixed">
    &copy; 2024
</div>


<RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" style="position: absolute; z-index: 3">
    <RadzenStack AlignItems="AlignItems.End" Class="rz-p-2">
        <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(() => sidebarExpanded = false)" />
    </RadzenStack>
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Home" Path="" Icon="home" />
    </RadzenPanelMenu>
    <div class="rz-p-4">
        Sidebar
    </div>
</RadzenSidebar>

@if (sidebarExpanded)
{
    <div @onclick="@(() => sidebarExpanded = false)" class="rz-dialog-mask" style="position: absolute; z-index: 2"></div>
}


@code {

    private bool sidebarExpanded = false;

    private string Overflow
    {
        get
        {
            if (sidebarExpanded)
            {
                __js.InvokeVoidAsync("scrollToTop");
                return "hidden";
            }
            else
                return "auto";
        }
    }

}

<style>
    body {
        overflow: @Overflow;
    }
</style>