.header-fixed, .footer-fixed {
    background-color: rgb(48, 68, 95);
    color: #fff;
    position: fixed;
    width: 100%;
    height: var(--header-fixed-height);
}

.footer-fixed {
    bottom: 0;
    height: var(--footer-fixed-height);
}

.header-blank {
    height: var(--header-fixed-height);
}
.footer-blank {
    height: var(--footer-fixed-height);
}