@page "/shc"

@implements IDisposable

@using System.Threading

<h2>StateHasChanged + Dispose</h2>

<div>
    Timer: @count
</div>
<div>
    <InputCheckbox @bind-Value=@useState />
    StateHasChanged
</div>

@code {

    private int count { get; set; }
    private bool useState { get; set; }
    private Timer? timer { get; set; }

    protected override void OnInitialized()
    {
        timer = new Timer(_ =>
        {
            count++;
            if (useState)
                StateHasChanged();
        }, null, 500, 500);
    }

    public void Dispose()
    {
        //timer.Stop();
        timer?.Dispose();
    }

}