@page "/shc"

@using System.Threading

<div>
    Timer: @count
</div>
<div>
    <InputCheckbox @bind-Value=@useState />
    StateHasChanged
</div>

@code {

    private int count;
    private bool useState { get; set; }

    protected override void OnInitialized()
    {
        _ = new Timer(_ =>
        {
            count++;
            if (useState)
                StateHasChanged();
        }, null, 500, 500);
    }

}