@inherits LayoutComponentBase

@* this is required for: Dialog, Notification, ContextMenu and Tooltip *@
<RadzenComponents />

<div id="abv">
    <header class="rz-header">
        <div style="display: flex;">
            <div style="flex: 1;">
                <RadzenSidebarToggle Style="margin-right: 0px;"
                                     Click="@(() => __state.SiteOptions.Menu.SidebarExpanded = !__state.SiteOptions.Menu.SidebarExpanded)" />
            </div>
            <div>
                <BlazorRadzenMls.Auth.MenuGravatar />
            </div>
        </div>
    </header>

    <main id="content">
        <div style="display: flex; height: 100%; background-color: var(--rz-body-background-color);">
            <div style="@SidebarWidth">
                <SideMenu Height100=true />
            </div>
            <div style="flex: 1;">
                @Body
            </div>
        </div>
    </main>

    <footer class ="rz-header td-footer">
        <p>&copy; 2024 Footer</p>
    </footer>
</div>

@code {

    private string? SidebarWidth => (__state.SiteOptions.Menu.SidebarExpanded) ?
        __state.SiteOptions.Menu.SidebarWidth : "width: 0;";

}