@page "/"

@using BlazorRadzenMls.Models
@using BlazorRadzenMls.Pages.Learn.Parameters

<PageTitle>Blazor Radzen Mls</PageTitle>

@* <RadzenText Text="@langService.Keys["Site_options"]" TextStyle="TextStyle.H1" class="rz-color-primary" /> *@
<RadzenText Text="Title to do" TextStyle="TextStyle.H1" class="rz-color-primary" />

<div>app version: @AppValues.Version</div>

<InputText @bind-Value="@_name" />

<Parametri Name="@_name" />

<BlazorRadzenMls.Pages.Learn.Parameters.CascadingPage />

@code {

    private string? _name { get; set; }

}