@page "/"

@using BlazorRadzenMls.Components
@using BlazorRadzenMls.Models

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h1>@langService.Keys["hello_world"]</h1>

Welcome to your new app.

<div>app version: @AppValues.Version</div>

<InputText @bind-Value="@_name" />

<Parametri Name="@_name" />

@code {

    private string? _name { get; set; }

}