@page "/local"

<h3>LocalStorages</h3>


@code {

    //KeyValuePair<string, string> qqq = new KeyValuePair<string, string>();

    // protected override async Task OnInitializedAsync()
    // {
    //     KeyValuePair<string, string> dd = new KeyValuePair<string, string>("kkk", "vvv");
    //     await __local.SetItemAsync("name", dd);
    //     qqq = await __local.GetItemAsync<KeyValuePair<string, string>>("name");
    // }

}