@*@page "/icons"*@
@attribute [Route(AppValues.PageIcons)]

@using BlazorRadzenMls.Models

<RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Class="icon-preview">

    @foreach (string icon in iconNames)
    {
        <div>
            <RadzenIcon Icon="@icon" IconColor="@ChangeColor(icon)" />
            <RadzenLabel Text="@icon" class="rz-color-success-dark" Style="font-size: 0.85rem;" />
        </div>
    }
    <div>
        <RadzenIcon Icon="dialpad" IconColor="purple" Style="font-weight: 1000;" />
        <RadzenLabel Text="dialpad" class="rz-color-success-dark" Style="font-size: 0.85rem;" />
    </div>

</RadzenStack>

<style>
    .icon-preview div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 120px;
    }
</style>

@code {

    private string ChangeColor(string icon)
    {
        switch (icon)
        {
            case "done":
                return Colors.Success;
            case "info":
                return Colors.Info;
            case "warning":
                return Colors.Warning;
            case "dangerous":
                return Colors.Danger;
            case "lock_open":
                return Colors.Primary;
            case "lock_outline":
                return Colors.Secondary;
            case "dialpad":
                return "purple";
            default:
                return Colors.Series8;
        }
    }

    #region Icons Names List
    private string[] iconNames = ["facebook",
        "accessibility",
        "3d_rotation",
        "accessible",
        "account_balance",
        "account_balance_wallet",
        "account_box",
        "account_circle",
        "add_shopping_cart",
        "alarm",
        "alarm_add",
        "alarm_off",
        "alarm_on",
        "all_out",
        "android",
        "announcement",
        "aspect_ratio",
        "assessment",
        "assignment",
        "assignment_ind",
        "assignment_late",
        "assignment_return",
        "assignment_returned",
        "assignment_turned_in",
        "autorenew",
        "backup",
        "book",
        "bookmark",
        "bookmark_border",
        "bug_report",
        "build",
        "cached",
        "camera_enhance",
        "card_giftcard",
        "card_membership",
        "card_travel",
        "change_history",
        "check_circle",
        "chrome_reader_mode",
        "class",
        "code",
        "compare_arrows",
        "copyright",
        "credit_card",
        "dashboard",
        "date_range",
        "delete",
        "delete_forever",
        "description",
        "dns",
        "done",
        "done_all",
        "donut_large",
        "donut_small",
        "eject",
        "euro_symbol",
        "event",
        "event_seat",
        "exit_to_app",
        "explore",
        "extension",
        "face",
        "favorite",
        "favorite_border",
        "feedback",
        "find_in_page",
        "find_replace",
        "fingerprint",
        "flight_land",
        "flight_takeoff",
        "flip_to_back",
        "flip_to_front",
        "g_translate",
        "gavel",
        "get_app",
        "gif",
        "grade",
        "group_work",
        "help",
        "help_outline",
        "highlight_off",
        "history",
        "home",
        "hourglass_empty",
        "hourglass_full",
        "http",
        "https",
        "input",
        "invert_colors",
        "label",
        "label_outline",
        "language",
        "launch",
        "lightbulb_outline",
        "line_style",
        "line_weight",
        "list",
        "lock",
        "lock_open",
        "lock_outline",
        "loyalty",
        "markunread_mailbox",
        "motorcycle",
        "note_add",
        "offline_pin",
        "opacity",
        "open_in_browser",
        "open_in_new",
        "open_with",
        "pageview",
        "perm_media",
        "attach_file",
        "payment",
        "content_paste",
        "tab",
        "save",
        "grid_on",
        "receipt",
        "view_list",
        "info",
        "warning",
        "dangerous",
        "smart_button",
        "dialpad"];
        #endregion

}