 .file-uploader {
     position: relative;
     display: inline-block;
 } 

.custom-button {
    display: inline-block;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .custom-button:hover {
        background-color: #007bff;
        color: #fff;
    }
