@inherits LayoutComponentBase

@* this is required for: Dialog, Notification, ContextMenu and Tooltip *@
<RadzenComponents />

<table>
    <tr>
        <th class="rz-header">
            
            <div style="display: flex;">
                <div style="flex: 1;">
                    <RadzenSidebarToggle Style="margin-right: 0px;"
                                         Click="@(() => __state.SiteOptions.Menu.SidebarExpanded = !__state.SiteOptions.Menu.SidebarExpanded)" />
                </div>
                <div>
                    <BlazorRadzenMls.Auth.MenuGravatar />
                </div>
            </div>

        </th>
    </tr>
    <tr>
        <td class="td-body">

            <div style="display: flex; height: 100%; background-color: var(--rz-body-background-color);">
                <div style="@SidebarWidth">
                    <SideMenu Height100=true />
                </div>
                <div style="flex: 1;">
                    @Body
                </div>
            </div>

        </td>
    </tr>
    <tr>
        <td class="rz-header td-footer">
            
            Footer

        </td>
    </tr>
</table>

@code {

    private string? SidebarWidth => (__state.SiteOptions.Menu.SidebarExpanded) ?
        __state.SiteOptions.Menu.SidebarWidth : "width: 0;";

    protected override void OnInitialized()
    {
        
    }

}