@page "/random"

<iframe srcdoc="@html"></iframe>

<hr />

<object data="@html2" type="text/html"></object>

@code {

    private string html => @"
<!DOCTYPE html>
<html>
<head>
  <title>Iframe Content</title>
</head>
<body>
  <h2>This is the content inside the iframe</h2>
  <p>This is a simple paragraph of text.</p>
</body>
</html>
";

    private string html2 => @"
data:text/html;charset=utf-8,
<!DOCTYPE html>
<html>
<head>
  <title>Object Content</title>
</head>
<body>
  <h2>This is the content inside the object</h2>
  <p>This is a simple paragraph of text.</p>
</body>
</html>
";

}